:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --section-text-color: #ffffff;
  --accent-color: #2196f3;
  --button-hover-color: #188ce8;
  --filter-button-color: #f5f4fa;
  --shadow-color: rgba(31, 21, 21, 0.15);
  --box-shadow: rgba(0, 0, 0, 0.15);
  --section-color: #2f303a;
  --first-section-color: #ffffff;
  --second-section-color: #f5f4fa;
  --ftr-cnt-color: rgba(255, 255, 255, 0.6);
  --ftr-link-color: rgba(255, 255, 255, 0.1);
  --header-brd-line-color: #ececec;
  --card-progects-gap: 30px;
  --svg-fill-color: #afb1b8;
  --card-bcg-color: rgba(33, 150, 243, 0.9);
  --animation-duration: 250ms;
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: #ffffff;
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.header {
  border-bottom: 1px solid var(--header-brd-line-color);
  background-color: var(--first-section-color);
}

.link {
  position: relative;
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-function);
}

.link:hover, .link:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.image {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-accent {
  color: var(--main-text-color);
}

.logo-ft-accent {
  color: var(--section-text-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  position: relative;
  display: flex;
  margin-left: 93px;
}

.site-nav .list-item + .list-item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  bottom: -1px;
}

.site-nav .link.current {
  color: var(--accent-color);
  text-decoration: none;
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 48px;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.studio-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 48px;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
}

.studio-page::after:hover {
  color: var(--accent-color);
}

.studio-page::after:hover::after {
  opacity: 1;
}

.second-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 78px;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.prtf-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 78px;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
}

.contacts-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 68px;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
}

.prtf-page:hover::after {
  opacity: 1;
}

.prtf-page:hover {
  color: var(--accent-color);
}

.contacts-page:hover::after {
  opacity: 1;
}

.contacts-page:hover {
  color: var(--accent-color);
}

.header-icon {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
}

.contact {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contact-header {
  display: flex;
  padding: 32px 0;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  align-items: center;
}

.contact-item:not(:first-child) {
  margin-left: 30px;
}

.contact-header:hover,
.contact-header:focus {
  color: var(--accent-color);
}

.contact-footer,
.footer-addr {
  color: var(--ftr-cnt-color);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  text-decoration: none;
}

.contact-footer:hover,
.contact-footer:focus {
  color: var(--accent-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--section-color);
}

.hero-title {
  display: block;
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--section-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.overlay {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.button {
  box-sizing: inherit;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--section-text-color);
  background: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border: none;
  transition-property: background-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-function);
}

.button:hover, .button:focus {
  color: var(--section-text-color);
  background: var(--button-hover-color);
  box-shadow: 0px 4px 4px var(--box-shadow);
}

.filter {
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 611px;
}

.filter-button {
  box-sizing: inherit;
  margin-top: 0px;
  background: var(--filter-button-color);
  color: inherit;
  font-family: inherit;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition-property: background-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-function);
}

.filter-button first {
  display: inline-block;
  min-width: 73px;
  min-height: 38px;
}

.filter-button second {
  display: inline-block;
  min-width: 128px;
  min-height: 38px;
}

.filter-button third {
  display: inline-block;
  min-width: 145px;
  min-height: 38px;
}

.filter-button fourth {
  display: inline-block;
  min-width: 103px;
  min-height: 38px;
}

.filter-button fifth {
  display: inline-block;
  min-width: 130px;
  min-height: 38px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--section-text-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--first-section-color);
}

.section-hdr {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.pursuit {
  padding-top: 0px;
  padding-bottom: 94px;
  background: var(--first-section-color);
}

.occupation {
  display: flex;
}

.occupation .occupation-item:not(:last-child) {
  margin-right: 30px;
}

.occ-img {
  display: block;
}

.occupation-item {
  position: relative;
  align-items: center;
}

.card-inscript {
  position: absolute;
  width: 370px;
  height: 70px;
  top: 224px;
  background: rgba(47, 48, 58, 0.8);
}

.inscription {
  display: block;
  text-align: center;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--section-text-color);
}

.preferences {
  display: flex;
  justify-content: center;
}

.pref-item {
  padding: 0px;
  margin: 0px;
  width: 270px;
}

.preferences .pref-item:not(:last-child) {
  margin-right: 30px;
}

.pref-card {
  display: flex;
  justify-content: center;
  width: 270px;
  height: 120px;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--second-section-color);
}

.card {
  width: 270px;
  min-height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--first-section-color);
}

.card > img {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
}

.team {
  padding: 30px 32px;
}

.team-member {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-item {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.social {
  display: flex;
  justify-content: space-between;
}

.social-page-link {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  align-items: center;
  background-color: transparent;
  fill: var(--svg-fill-color);
}

.social-page-link:hover,
.social-page-link:focus {
  fill: var(--first-section-color);
  background-color: var(--accent-color);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0px;
  margin-bottom: 0px;
}

.client-link {
  display: block;
  align-items: center;
}

.client-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--svg-fill-color);
  border: 1px solid var(--svg-fill-color);
  border-radius: 4px;
  padding: 0px;
  margin: 0px;
}

.client-button:hover,
.client-button:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.button-icon {
  fill: currentColor;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.band {
  background: var(--second-section-color);
}

.cmd {
  margin-top: 0px;
  margin-bottom: 50px;
}

.members {
  display: flex;
}

.band .card + .card {
  margin-left: 30px;
}

.section-depict {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
}

.portfolio {
  background-color: var(--first-section-color);
}

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-progects-gap));
  margin-top: calc(-1 * var(--card-progects-gap));
}

.portfolio-projects > .project {
  flex-basis: calc(100% / 3 - var(--card-progects-gap));
  margin-left: var(--card-progects-gap);
  margin-top: var(--card-progects-gap);
}

.project {
  display: inline-block;
  background-color: var(--section-text-color);
}

.project > a {
  text-decoration: none;
}

.working-card {
  position: relative;
  overflow: hidden;
}

.working-project {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.working-project:hover,
.working-project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-description {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 63px 24px;
  width: 370px;
  height: 294px;
  bottom: 110px;
  font-size: 18px;
  line-height: 1.55;
  margin-top: 0px;
  letter-spacing: 0.03em;
  color: var(--section-text-color);
  background: var(--card-bcg-color);
  transform: translateY(101%);
  transition: transform var(--animation-duration) var(--animation-function);
}

.working-project:hover .project-description {
  transform: translateY(0);
}

.image-hdr {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 4px;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.image-depict {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.project-img {
  padding: 20px 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--animation-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--first-section-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 8px;
  align-items: center;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--first-section-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-button:hover,
.modal-button:focus {
  fill: var(--accent-color);
}

.modal-title {
  display: block;
  width: 448px;
  height: 23px;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.modal-form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-input-wrap {
  position: relative;
  width: 100%;
}

.form-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill var(--animation-duration) var(--animation-function);
}

.modal-input {
  width: 100%;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border var(--animation-duration) var(--animation-function);
}

.modal-input-text {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  color: var(--secondary-text-color);
}

.modal-input:focus {
  border: 1px solid var(--accent-color);
}

.modal-input:focus + .form-icon {
  fill: var(--accent-color);
}

.modal-user-text {
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  outline: none;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: transform var(--animation-duration) var(--animation-function);
}

.modal-user-text:focus {
  border: 1px solid var(--accent-color);
}

.modal-form-checkbox {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.modal-form-checkbox label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.check-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal-input-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--animation-duration) var(--animation-function);
}

.icon-checkbox {
  fill: var(--first-section-color);
}

.modal-check:checked + .modal-input-text span {
  background-color: var(--accent-color);
  border: none;
}

.modal-link {
  text-decoration-skip-ink: none;
  color: var(--accent-color);
}

.submit-button {
  display: block;
  margin: auto;
}

.footer {
  background: var(--section-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  width: 231px;
  min-height: 81px;
}

.footer-addr {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 9px;
  color: var(--section-text-color);
}

.footer-info .contact-footer:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social-list {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.footer-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--first-section-color);
  text-transform: uppercase;
}

.footer-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--ftr-link-color);
  fill: var(--first-section-color);
}

.footer-item-link:hover,
.footer-item-link:focus {
  background-color: var(--accent-color);
}

.footer-pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscribe {
  display: flex;
  align-items: flex-end;
  margin-left: 93px;
  margin-right: 0;
}

.subscription {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subform-text {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--section-text-color);
}

.subscribe-form {
  display: inline-block;
  width: 358px;
  min-height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  border-radius: 4px;
  outline-style: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.3);
}

.sign-button {
  display: flex;
  align-items: flex-end;
}

.icon-letter {
  margin-left: 10px;
}

.footer-submit-button {
  display: inline-flex;
  align-items: center;
}
/*# sourceMappingURL=main.css.map */