.header-icon {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
}
.contact {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.contact-header {
  display: flex;
  padding: 32px 0;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  align-items: center;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.contact-item:not(:first-child) {
  margin-left: 30px;
}
.contact-footer,
.footer-addr {
  color: var(--ftr-cnt-color);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  text-decoration: none;
}
.contact-footer:hover,
.contact-footer:focus {
  color: var(--accent-color);
}
