.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.header {
  border-bottom: 1px solid $header-brd-line-color;
  background-color: $first-section-color;
}

.link {
  position: relative;

  transition-property: color;
  transition-duration: $animation-duration;
  transition-timing-function: $animation-function;

  &:hover,
  &:focus {
    color: $accent-color;
    text-decoration: none;
  }
}
.image {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}
