.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  position: relative;
  display: flex;
  margin-left: 93px;
  .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    bottom: -1px;
  }
}
.site-nav .list-item + .list-item {
  margin-left: 50px;
}

.site-nav .link.current {
  color: var(--accent-color);
  text-decoration: none;
}
.current {
  color: var(--accent-color);
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 48px;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}
.studio-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 48px;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
}
.studio-page:hover {
  color: var(--accent-color);
}
.studio-page:hover::after {
  opacity: 1;
}
.second-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 78px;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}
.prtf-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 78px;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
}
.contacts-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 68px;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
}

.prtf-page:hover::after {
  opacity: 1;
}
.prtf-page:hover {
  color: var(--accent-color);
}
.contacts-page:hover::after {
  opacity: 1;
}
.contacts-page:hover {
  color: var(--accent-color);
}
