.footer {
  background: $section-color;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-flex {
  display: flex;
  align-items: baseline;
}
.logo-footer {
  display: block;
  margin-bottom: 20px;
}
.footer-info {
  display: flex;
  flex-wrap: wrap;
  width: 231px;
  min-height: 81px;
  & .contact-footer:not(:last-child) {
    margin-bottom: 9px;
  }
}
.footer-addr {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 9px;
  color: $section-text-color;
}
.footer-social-list {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}
.footer-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0px;
  margin-bottom: 20px;
  color: $first-section-color;
  text-transform: uppercase;
}
.footer-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $ftr-link-color;
  fill: $first-section-color;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.footer-pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
