.preferences {
  display: flex;
  justify-content: center;
}
.pref-item {
  padding: 0px;
  margin: 0px;
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.pref-card {
  display: flex;
  justify-content: center;
  width: 270px;
  height: 120px;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: $second-section-color;
}
.section-depict {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: $secondary-text-color;
  font-size: 14px;
  line-height: 1.7;
}
