.band {
  background: var(--second-section-color);
}
.cmd {
  margin-top: 0px;
  margin-bottom: 50px;
}
.members {
  display: flex;
}
.band .card + .card {
  margin-left: 30px;
}
.section-depict {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
}
