.band {
  background: var(--second-section-color);
}
.cmd {
  margin-top: 0px;
  margin-bottom: 50px;
}
.members {
  display: flex;
}
.band .card + .card {
  margin-left: 30px;
}
.section-depict {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
}
.card {
  width: 270px;
  min-height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--first-section-color);
}
.card > img {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
}
.team {
  padding: 30px 32px;
}
.team-member {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-item {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}
.social {
  display: flex;
  justify-content: space-between;
}
.social-page-link {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  align-items: center;
  background-color: transparent;
  fill: var(--svg-fill-color);
}
.social-page-link:hover,
.social-page-link:focus {
  fill: var(--first-section-color);
  background-color: var(--accent-color);
}
